<!--The content below is only a placeholder and can be replaced.-->
<div class="bg-color">
  <nav class="row navbar navbar-dark bg-dark align-center">
    <div class="col-12">
      <span class="navbar-brand col-3" routerLink="/">Colaborador</span>
      <span class="navbar-brand col-2 color cursor" (click)="lista = false">Inserir</span>
      <span class="navbar-brand col-2 color cursor" (click)="lista = true">Listar</span>

      <span class="navbar-brand col-4">
        <span class="input-group">
          <input type="text" [(ngModel)]="value" class="form-control" placeholder="Pesquisar">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1" (click)="filtrar(value)">
              <i class="fa fa-search cursor"></i></span>
          </div>
        </span>
      </span>


    </div>

  </nav>

  <table class="table" *ngIf="lista">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Setor</th>
      </tr>
    </thead>
    <tbody>
      <tr (click)="editar(c)" class="tr-hover" *ngFor="let c of colaboradores">
        <td>{{c.nome}}</td>
        <td>{{c.email}}</td>
        <td>{{c.setor}}</td>
      </tr>
    </tbody>
  </table>

  <form class="mt-3 ml-2" *ngIf="!lista">
    <div class="row">
      <span class="form-group col-6">
        <label for="nome">Nome</label>
        <input [(ngModel)]="nome" name="nome" type="text" class="form-control" id="nome" placeholder="Nome">
      </span>
      <span class="form-group col-6">
        <label for="exampleFormControlInput1">Email</label>
        <input [(ngModel)]="email" name="email" type="email" class="form-control" id="email"
          placeholder="email@example.com">
      </span>
    </div>
    <div class="row">
      <span class="form-group col-4">
        <label for="cpf">CPF</label>
        <input [disabled]="edit" [(ngModel)]="cpf" name="cpf" type='text' mask='000.000.000-00'  class="form-control" id="cpf" placeholder="CPF">
      </span>
      <span class="form-group col-2">
        <label for="tel">Telefone</label>
        <input [(ngModel)]="tel" name="tel" type='text' mask='(00) 0000-0000' class="form-control" id="tel" placeholder="Telefone">
      </span>
      <span class="form-group col-2">
        <label for="cel">Celular</label>
        <input [(ngModel)]="cel" name="cel" type='text' mask='(00) 0 0000-0000' class="form-control" id="tel" placeholder="Telefone">
      </span>
      <div class="form-group col-4">
        <label name="setor" for="exampleFormControlSelect1" >Setor
        </label>
        <select name="setor" class="form-control" id="setor" required [(ngModel)]="setor.nome">
          <option [selected]="selected" disabled>{{setor.nome}}</option>
          <option *ngFor="let s of setores" [ngValue]="s.nome">{{ s.nome }}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <span class="col-10">
      </span>
      <span class="col-2">
        <button (click)="salvar()" type="button" class="btn btn-success">Salvar</button>
        <button (click)="cancelar()" type="button" class="ml-2 btn btn-danger">Cancelar</button>
      </span>
    </div>

  </form>


  <footer class="f-color footer navbar-fixed-bottom">2019 - Todos os direitos reservados.</footer>
</div>