.color {
    color: lightgray;
}

.cursor {
    cursor: pointer;
}

.scale:hover {
    transform: scale(1.5);
    border: 1px;
}
.bg-color {
    background-color: lightgrey;
    color: black;
}

.f-color {
    margin-top: 30%;
    background-color: #343a40;
    color: lightgray;
}