<!--The content below is only a placeholder and can be replaced.-->
<div class="bg-color">
    <nav class="row navbar navbar-dark bg-dark align-center">
        <div class="col-12">
            <span class="navbar-brand col-3" routerLink="/">Colaborador</span>
            <span class="navbar-brand col-2 color cursor" [routerLink]="['/colaborador']">Listar</span>

            <span class="navbar-brand col-4">
                <span class="input-group">
                    <input type="text" [(ngModel)]="nome" class="form-control" placeholder="Pesquisar">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1" [routerLink]="['/colaborador/search/', nome]">
                            <i class="fa fa-search cursor"></i></span>
                    </div>
                </span>
            </span>


        </div>

    </nav>

    <h2 class="mt-4 ml-4">{{title}}</h2>


    <footer class="f-color footer navbar-fixed-bottom">2019 - Todos os direitos reservados.</footer>
</div>